# =========================================================
# requirements.txt
# =========================================================

streamlit
mistralai==1.2.3
rapidfuzz
pdf2image
pillow
pymupdf